body {
  background: url(food.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #2e485d;
}

.button-add {
  font-family: "Montserrat", sans-serif;
  background-color: #77cf40;
  padding: 20 px;
  border-radius: 20px;
  border: none;
  font-size: 17px;
}

.button-delete {
  font-family: "Montserrat", sans-serif;
  background: none;
  border: 0;
  font-size: 10px;
  color: red;
  font-weight: bold;
}

h1 {
  font-family: "Montserrat", sans-serif;
  background-color: #dcedf7;
  border-radius: 20px;
  padding: 15px;
}

.App {
  display: flex;
  justify-content: space-around;
}

.whole-plan {
  width: 70%;
  height: 100wh;
}

.myInput {
  width: 70%;
  height: 20px;
  padding: 10px;
  border-radius: 20px;
  margin-top: 30px;
  display: block;
}

textarea {
  display: block;
  border: 1px solid #ddd;
  margin-top: 30px;
  width: 70%;
  height: 200px;
  border-radius: 20px;
  font-family: "Montserrat", sans-serif;
}

.selected {
  background-color: #fad106;
}

.default {
  background-color: #dcedf7;
}

p {
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

.field {
  color: black;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
}

@media (max-width: 780px) {
  .pi, h1 {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  h1 {
    font-size: 13px;
  }

  .pi { 
    font-size: 10px;
  }

  .field {
    font-size: 8px;
  }
}